#search {
    position: absolute;
    bottom: 1px;
    left: 0px;
    right: 0px;
    height: var(--search-height);
    border-top: 1px solid #E3E3E3;
    --search-clear-width: 24px;
}

#search-input {
    box-sizing: border-box;
    border: none;
    position: absolute;
    top: 0px;
    left: var(--search-height);
    height: var(--search-height);
    width: calc(100% - var(--search-height) - var(--search-clear-width) - 1px);
}

#search-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--search-height);
    width: var(--search-height);
    padding-left: 2px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/sidebar/Search.svg");
}

#search-clear {
    position: absolute;
    top: 0;
    right: 0;

    height: var(--search-height);
    width: var(--search-clear-width);
    max-width: var(--search-height);

    cursor: pointer;
    border: none;
    background-color: var(--bgcolor);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/close-16.svg");
    background-size: 50%;

    opacity: 0;
    transition: opacity .25s, background-size .25s;
}

#search-clear.show {
    opacity: 1;
    background-size: 100%;
}

#search-clear:hover {
    background-size: 110%;
}
