.session {
	position: relative;
	margin-bottom: 5px;
	--header-height: 32px;
	--bg-color: rgb(240,240,240);
	--hover-trans-dur: .25s;
	transition: background var(--hover-trans-dur), box-shadow var(--hover-trans-dur);
	background-color: var(--bg-color);
	z-index: 1;
	animation: session-in .25s ease-out;
}

.session:hover {
	--bg-color: rgb(245,245,245);
	box-shadow: 0px 1px 1px rgba(8,8,8,0.1);
}

.session.expanded:hover {
	box-shadow: 0px 1px 1px 0px rgba(16,16,16,0.1);
}

@keyframes session-in {
	0% {
		opacity: 0;
		transform: translateX(5px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.session > .header {
	position: relative;
	padding-left: 14px;
	height: var(--header-height);
	z-index: 3;
	transition: box-shadow 0.5s;
}

.session:not(.expanded):hover > .header:active {
	box-shadow: 0px 1px 0px 0px rgba(16,16,16,0.1);
}

.session > .header::before {
	content: " ";
	position: absolute;
	top: calc(0.5 * (var(--header-height) - 12px));
	left: 0px;
	height: 12px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-image: url("../img/sidebar/arrowhead-down-12.svg");
	width: 12px;

	transition: transform 0.25s;
}

.session:not(.expanded) > .header::before {
	transform: rotate(-90deg);
}

.session > .header .title {
	margin-right: 3px;
	line-height: var(--header-height);
	white-space: nowrap;
	font-size: 1.2rem;
	word-spacing: -.075rem;
	cursor: text;
	transition: background .2s;
}

.session > .header .title.editmode > input {
	border: none;
	padding: 0px;
	font-family: inherit;
	font-size: inherit;
	word-spacing: inherit;
	min-width: 80px;
	box-shadow: 0px 0px 0px 1px rgba(32, 32, 32, 0.1);
}

.session:not(:hover) > .header .title.editmode > input:focus {
	box-shadow: 0px 0px 0px 1px rgba(16,16,16,0.1);
}

.session > .header .title:hover {
	background-color: rgba(255,255,255,0.75);
}

.session > .header .number-of-tabs {
	color: #6D6D6D;
	line-height: var(--header-height);
	white-space: nowrap;
	font-family: 'Open Sans Condensed', sans-serif;
	cursor: default;
	-moz-user-select: none;
}

.session > .header > .align-right {
	position: absolute;
	right: 0px;
	top: 0px;
	height: var(--header-height);
}

.session > .header .controls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: var(--bg-color);
	line-height: var(--header-height);
	height: var(--header-height);
	padding-left: 1px;
	padding-right: 3px;
	-moz-user-select: none;
	transition: background var(--hover-trans-dur);
}

.session > .header .textbutton {
	color: rgb(0,0,238);
	cursor: pointer;
}

.session > .header .textbutton:hover {
	text-decoration: underline;
}

.session > .header .more {
	width: 20px;
	height: var(--header-height);
	background-repeat: no-repeat;
	background-position: center 9px;
	background-image: url("../img/sidebar/more-16.svg");
	margin-left: 2px;
	cursor: pointer;
}

.session > .header .more:hover {
	background-color: rgba(0,0,0,0.1);
	transition: .2s;
}

.session > .tab-view {
	z-index: 2;
}

.session:not(.expanded) > .tab-view {
	display: none;
}

.session.active > .header .restore {
	display: none;
}

.session:not(.active) > .header .aside {
	display: none;
}

.session.hidden {
	display: none;
}
