body {
	padding-top: 6px;
	overflow-x: hidden;
}

a:visited { color: rgb(0, 0, 238); }

.session {
	margin-bottom: 6px;
}

.titlebar {
	position: relative;
	height: 32px;
	line-height: 32px;
	background-repeat: no-repeat;
	background-position-x: 2px;
	background-position-y: center;
	user-select: none;
}

.session.collapsed > .titlebar { background-image: url('../icons/arrowhead-down-12.svg'); }
.session.expanded > .titlebar { background-image: url('../icons/arrowhead-up-12.svg'); }

.title {
	position: absolute;
	top: 0px;
	left: 18px;
	height: 32px;
	line-height: 32px;
}

.counter {
	position: absolute;
	top: 0px;
	right: 6px;
	text-align: right;
	color: #6D6D6D;
	font-size: 1em;
}

.button {
	display: inline-block;
	position: relative;
	top: 4px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
	cursor: pointer;
}

.edit {
	background-image: url('../icons/edit-small.png');
	margin-left: 6px;
	top: 3px;
}

.edit:hover { background-color: lightcyan; }
.edit:active { background-color: dodgerblue; }

.delete {
	margin-left: 2px;
	margin-right: -3px;
	background-image: url('../icons/delete-16.svg');
}

.delete:hover { background-color: lightcoral; }
.delete:active { background-color: red; }

.session:hover > .titlebar {
	background-color: #F0F0F0;
}

.titlebar:active {
	background-color: #E8E8E8;
}

.controls {
	position: relative;
	text-align: right;
	padding-right: 6px;
	white-space: nowrap;
	user-select: none;
}

.tabs {
	margin-top: -6px;
}

.session.collapsed > .tabs, .session.collapsed > .controls {
	display: none;
}

ol {
	padding-left: 22px;
}

li {
	margin: 0px;
	margin-top: 2px;
	white-space: nowrap;
}

a.tab:not(:hover) {
	color: #222426;
	text-decoration: none;
}

#empty-msg {
	padding-left: 6px;
	padding-right: 6px;
}

#empty-msg:not(.show) {
	display: none;
}

#tip {
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	background-color: rgb(13, 146, 255);
	
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 2px;
	box-shadow: inset 0px 0px 0px 1px rgb(0,0,0,0.075);

	display: none;
}

#tip-msg {
	font-size: 14px;
	color: white;
	text-shadow: rgba(0,0,0,0.2);
}

#tip.show {
	display: block;
	animation-duration: 1s;
	animation-name: flyin;
}

#tip-close {
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.0);
	background-image: url('../icons/close10.png');
}

#tip:hover > #tip-close {
	background-color: rgba(255,255,255,0.5);
}

#tip:hover > #tip-close:hover { background-color: rgba(255,255,255,1.0); }
#tip:hover > #tip-close:active { background-color: rgb(255, 93, 44); }

@keyframes flyin {
	from { transform: translateY(100px); }
	to   { transform: translateY(  0px); }
}