#tip {
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
	background-color: rgb(13, 146, 255);
	
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 2px;
	box-shadow: inset 0px 0px 0px 1px rgb(0,0,0,0.075);

	display: none;
}

#tip-msg {
	font-size: 14px;
	color: white;
	text-shadow: rgba(0,0,0,0.2);
}

#tip.show {
	display: block;
	animation-duration: 1s;
	animation-name: flyin;
}

#tip-close {
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.0);
	background-image: url('../icons/close-16.svg');
}

#tip:hover > #tip-close {
	background-color: rgba(255,255,255,0.5);
}

#tip:hover > #tip-close:hover { background-color: rgba(255,255,255,1.0); }
#tip:hover > #tip-close:active { background-color: rgb(255, 93, 44); }

@keyframes flyin {
	from { transform: translateY(100px); }
	to   { transform: translateY(  0px); }
}