body {
	font-family: 'Segoe UI', 'Arial', 'Ubuntu';
}

button {
	border: none;
	background-color: rgba(0,0,0,0.25);
	cursor: pointer;
}

#breadcrumbs {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	background-color: rgb(202, 202, 202);
	font-size: 0px;
}

.breadcrumb {
	position: relative;
	display: inline-block;
	height: 25px;
	font-size:16px;
	line-height: 22px;
	padding-left: 4px;
	padding-right: 4px;
	margin-right:17px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: -moz-none;
}

.breadcrumb:hover {
	background-color: rgba(16,16,16,0.3);
}

.breadcrumb:not(:nth-last-of-type(1))::after{
	position: absolute;
	right: -16px;
	display: inline-block;
	content:" ";
	width:16px;
	height:25px;
	background-image: url("../icons/arrowhead-right-16.svg");
	background-position-y: center;
	background-repeat: no-repeat;
	cursor: default;
}

#controls {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 30px;
	background-color: rgb(230,230,230);
}

#content-view {
	position: absolute;
	left: 0px;
	right:0px;
	top: 25px;
	bottom: 30px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 10px;
	padding-bottom: 10px;
}

#select {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 100%;
}

#newfolder {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
	padding-left: 2px;
}

#newfolder > img {
	position: relative;
	top: 2px;
}

.folder {
	position: relative;
	cursor: pointer;
	margin-bottom: 8px;
	user-select: none;
	-moz-user-select: -moz-none;
}

.folder::before {
	content: " ";
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 6px;
	margin-left: 8px;
	background-image: url("../icons/folder-16.svg");
	width: 16px;
	height: 16px;
}

.folder.selected {
	background-color: rgba(0, 150, 255, 0.15);
	box-shadow: 0px 0px 0px 1px rgba(0,150, 255, 0.9);
}

.folder.oldselection::after {
	content: " ";
	display: block;
	position: absolute;
	top: 4px;
	right: 2px;
	width: 16px;
	height: 16px;
	background-image: url("../icons/check-16.svg");
	opacity: 0.6;
}