body {
	width: 268px;
	--button-height: 25px;
	--icon-size: 16px;
	--accent-color: rgb(10,132,255);
	min-height: calc(3 * var(--button-height));
}

body.active-session {
	background-color: var(--accent-color);
}

#active-session-indicator {
	position: relative;
	display: none;
	background-color: var(--accent-color);
	color: white;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	padding: 0px 2px;
	padding-left: 4px;
	margin-bottom: 1px;
	white-space: nowrap;
	overflow: hidden;
}

#active-session-indicator::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0px;
	right: -15px;
	bottom: 0px;
	width: 16px;
	box-shadow: 0px 0px 10px 3px var(--accent-color);
}

body.active-session div#active-session-indicator {
	display: block;
}

.button {
	position: relative;
	display: block;
	height: var(--button-height);
	line-height: var(--button-height);
	color: black;
	padding-left: 36px;
	padding-right: 12px;
	text-decoration: none;
	white-space: nowrap;

	background-color: white;
}

.button.disabled {
	color: rgb(110,110,110);
}

.mini-button {
	width: 24px;
	height: 24px;
	background-color: inherit;
	background-position: center;
	background-repeat: no-repeat;
}

.button.icon::before {
	content: " ";
	display: block;
	position: absolute;
	left: calc(36px - var(--icon-size) - 8px);
	top: calc(0.5 * (var(--button-height) - var(--icon-size)));
	height: var(--icon-size);
	width: var(--icon-size);

	background-color: inherit;
	background-image: var(--iconURL, none);
	background-repeat: no-repeat;
	background-position: center;
}

.button.disabled.icon::before {
	opacity: 0.5;
}

.button.icon.wide::before {
	left: calc(36px - 24px - 8px);
	width: 24px;
	background-position: right;
}

.button:not(.disabled):hover, .mini-button:hover {
	background-color: #F0F0F0;
}

.button:not(.disabled):active, .mini-button:active {
	background-color: #E8E8E8;
}

.button:not(.disabled)[data-shortcut]::after {
	content: attr(data-shortcut);
	position:absolute;
	color: #6D6D6D;
	right: 12px;
	text-align: right;
}