@import 'base/fonts';

body {
	font-family: 'Open Sans', Segoe UI, sans-serif;
}

p > span {
	margin-bottom: 10px;
}

#url {
	width: calc(100% - 30px - 15px);
	max-width: 1000px;
	border: none;
	background-color: rgb(235,235,235);
	font-size: 20px;
	padding: 3px 3px;
	height: 25px;
}

#copy {
	position: relative;
	top: -3px;

	width: 25px;
	height: 25px;
	padding: 3px 3px;
	box-sizing: content-box;

	border: 0px;
	background-color: rgb(235,235,235);

	background-image: url('../img/copy.svg');
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}

#copy:hover {
	background-color: rgb(200,200,200);
}
