@import 'base/fonts';

body {
	--bg-color: rgb(249,249,250);

	font-family: 'Open Sans', Segoe UI, sans-serif;
	background-color: var(--bg-color);
}

a, a:visited {
	cursor: pointer;
	color: rgb(0, 0, 238);
}

#header {
	padding: 5px;
}

#title {
	font-size: 2em;
}

#version {
	opacity: .75;
	margin-left: 1px;
}

#setup-content {
	padding: 5px;
}

.content-box {
	position: relative;
	background-color: white;
	box-shadow: rgba(12, 12, 13, 0.1) 0px 1px 4px 0px;
	border-radius: 4px;
	margin: 0 0 8px;
	padding: 5px;
	font-size: 14px;
}

.options {
	border-radius: 4px;
	background-color: inherit;
	overflow:hidden;
}

.options > a {
	display: block;
	background-color: rgba(12, 12, 13, 0.1);
	text-align: center;
	padding: 2px;
	color: rgb(12, 12, 13);
	min-height: 32px;
	line-height: 32px;
}

.options > a.recommended {
	background-color: rgb(10,132,255);
	color: white;

	animation: linear .2s recommended_fadein;
}

.options > a:hover {
	background-color: rgba(12, 12, 13, 0.2);
}

.options > a.recommended:hover {
	background-color: rgb(14, 118, 230);
}

.options > a:hover:active {
	background-color: rgba(12, 12, 13, 0.3);
}

.options > a.recommended:hover:active {
	background-color: rgb(15, 115, 212);
}

.options > a ul {
	font-size: 0.8em;
	opacity: 0.7;
	margin: 0px;
	margin-bottom: 5px;
	line-height: normal;
	max-width: 90vw;
	padding-left: 35vw;
}

@media (max-width: 270px) {
	.options > a ul {
		padding-left: 25vw;
	}
}

@media (max-width: 240px) {
	.options > a ul {
		padding-left: 10vw;
	}
}

.help-text {
	position: relative;
	color: rgb(12,12,13);
	padding: 1px 4px;
	padding-left: 25px;
}

.help-text::before {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-image: url("../img/help-16.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#footer {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: var(--bg-color);
	box-shadow: 0px 0px 4px 0px var(--bg-color);
	padding: 5px 1px;
}

#footer a {
	display: inline-block;
	position: relative;
	padding: 1px 4px;
	border-radius: 2px;
	color: rgb(12,12,13);
	margin-bottom: 4px;
}

#footer a:last-child {
	margin-bottom: 0px;
}

#footer a > img:first-child {
	position: relative;
	top: 3px;
	margin-right: 2px;
}

#footer a:hover {
	background-color: rgba(12,12,13,0.1);
}

@keyframes recommended_fadein {
	0% {
		background-color: rgba(12, 12, 13, 0.1);
	}

	100% {
		background-color: rgb(10,132,255);
	}
}